* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner-1,
#banner-2,
#banner-3,
#banner-4 {
    position: fixed;
    background-color: #333;
    min-height: 100vh;
    top: 0;
    width: 25%;
    z-index: 10;
}

#banner-2 {
    left: 25%;
}

#banner-3 {
    left: 50%;
}

#banner-4 {
    left: 75%;
}

